---
import Section from "./Section.astro";
import SectionHeader from "./SectionHeader.astro";
import RightArrow from "../icons/RightArrow.astro";
---

<Section color="black" id="que-hacemos">
  <div slot="body" class="gap-x-6 mx-auto bg-white h-screen w-screen">
    <section class="h-screen flex items-center lg:h-screen">
      <div
        class="h-screen flex flex-col justify-center flex-1 max-w-6xl px-4 py-4 mx-auto lg:py-0 md:px-6"
      >
        <div class="flex flex-col justify-center">
          <SectionHeader title="¿Que hacemos?" subtitle="Subtítulo de sección" />
          <div
            class="content-container flex flex-row-reverse sm:flex-row flex-col items-center items-center px-8"
          >
            <div class="content lg:mb-0">
              <h2 class="title font-bold text-gray-700 text-center">
                We are providing a better facility
              </h2>
              <div class="text">
                <p class="about-text text-gray-500 text-justify">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam
                </p>
                <ul>
                  <li class="list-element flex items-center text-gray-500">
                    <span class="mr-3">
                      <RightArrow customClass="w-5 h-5" />
                    </span>
                    First text
                  </li>
                  <li class="list-element flex items-center text-gray-500">
                    <span class="mr-3">
                      <RightArrow customClass="w-5 h-5" />
                    </span>
                    Second text
                  </li>
                  <li class="list-element flex items-center text-gray-500">
                    <span class="mr-3">
                      <RightArrow customClass="w-5 h-5" />
                    </span>
                    Third text
                  </li>
                  <li class="flex items-center text-gray-500">
                    <span class="mr-3">
                      <RightArrow customClass="w-5 h-5" />
                    </span>
                    Fourth text
                  </li>
                </ul>
              </div>
            </div>
            <div class="img-container relative w-full md:w-1/2 lg:mb-0">
              <img
                src="https://img.freepik.com/free-photo/full-shot-fit-people-training-gym_23-2149445915.jpg?t=st=1708638687~exp=1708642287~hmac=d6ba969df75c66778357cbd98b5ecfa891ba947df77831798facd65e4a932603&w=1800"
                alt=""
                class="relative z-40 object-cover w-full rounded-md shadow-lg md:h-96 h-44"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</Section>

<style>
  img {
    transition: all 0.3s ease-in-out;
  }
  img:hover {
    transform: scale(1.05);
  }
  .content-container {
    gap: 4rem;
  }
  .content {
    width: 50%;
  }
  .title {
    font-size: x-large;
    margin-bottom: 1rem;
  }
  .text {
    font-size: medium;
    line-height: 1.7rem;
  }
  .about-text {
    margin-bottom: 1rem;
  }
  .list-element {
    margin-bottom: 0;
  }

  /* Width media queries */
  @media (max-width: 767px) {
    .img-container {
      display: none;
    }
    .content {
      width: auto;
    }
    .list-element {
      margin-bottom: 0;
    }
  }
  @media (max-width: 640px) {
    .content-container {
      gap: 0;
      display: block;
    }
  }
  @media (max-width: 480px) {
    .title {
      font-size: large;
      margin-bottom: 0.5rem;
    }
    .text {
      font-size: small;
      line-height: 1.3rem;
    }
    .about-text {
      margin-bottom: 0.5rem;
    }
  }
  @media (max-width: 300px) {
    .title {
      font-size: medium;
    }
    .text {
      font-size: x-small;
      line-height: 1rem;
    }
    .list-element {
      margin-bottom: auto;
    }
  }

  /* Height media queries */
  @media (max-height: 500px) {
    .content-container {
      gap: 0;
      display: block;
    }
    .content {
      width: auto;
    }
    .img-container {
      display: none;
    }
    .title {
      font-size: large;
      margin-bottom: 0.5rem;
    }
    .text {
      font-size: small;
      line-height: 1rem;
    }
    .about-text {
      margin-bottom: 0.5rem;
    }
    .list-element {
      margin-bottom: 0;
    }
  }

  @media (max-height: 300px) {
    .title {
      font-size: medium;
    }
    .text {
      font-size: x-small;
      line-height: 1rem;
    }
    .list-element {
      margin-bottom: auto;
    }
  }
</style>
